<!DOCTYPE html>
<html>
<head>
  <title>OmrKencortez</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Added "viewport" for mobile support on D10 L1-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <%= render 'layouts/header' %>
  <!-- addid the div container on day 10 lesson 1 -->
  <div class="container">
    <!-- This is a "block" in Ruby -->
    <!-- Note this does NOT have an equal sign -->
    <!-- If you take away the equal sign, the code is still being run, but it is not shown on the page -->
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-info") %>
    <% end %>
    <!-- the "yield" is where all of the page content ends up -->
    <%= yield %>
  </div>

</body>
</html>
